In [69]:
import pandas as pd
import numpy as np

import re

In [70]:
# allows for viewing of all columns
pd.set_option("display.max.columns", None)

In [71]:
data = '/Users/memanuel0109/documents/Github/Capstone_Project_Two/data/train.csv'

In [72]:
df = pd.read_csv(data)

In [73]:
df

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,race_Caucasian,race_AfricanAmerican,gender_Female,age_[70-80),age_[60-70),age_[50-60),age_[80-90),age_[40-50),payer_code_?,payer_code_MC,payer_code_HM,payer_code_SP,payer_code_BC,medical_specialty_?,medical_specialty_InternalMedicine,medical_specialty_Emergency/Trauma,medical_specialty_Family/GeneralPractice,medical_specialty_Cardiology,diag_1_428,diag_1_414,diag_1_786,diag_2_276,diag_2_428,diag_2_250,diag_2_427,diag_3_250,diag_3_401,diag_3_276,diag_3_428,max_glu_serum_None,A1Cresult_None,metformin_No,repaglinide_No,nateglinide_No,chlorpropamide_No,glimepiride_No,acetohexamide_No,glipizide_No,glyburide_No,tolbutamide_No,pioglitazone_No,rosiglitazone_No,acarbose_No,miglitol_No,troglitazone_No,tolazamide_No,examide_No,citoglipton_No,insulin_No,glyburide-metformin_No,glipizide-metformin_No,glimepiride-pioglitazone_No,metformin-rosiglitazone_No,metformin-pioglitazone_No,change_No,diabetesMed_Yes,readmitted
0,14,41,0,11,0,0,0,6,True,False,False,False,False,True,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,0
1,2,30,0,12,0,0,1,9,True,False,True,False,False,True,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True,True,False,True,True,True,True,True,False,True,1
2,5,66,0,22,1,0,2,9,True,False,True,False,False,False,True,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,1
3,3,63,0,8,0,0,0,8,True,False,True,False,False,True,False,False,True,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,1
4,5,40,0,6,0,0,1,9,True,False,True,False,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,2,85,0,12,0,0,0,9,True,False,False,False,True,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,False,True,0
24996,5,35,2,15,0,0,0,9,False,True,True,False,True,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,1
24997,3,10,1,23,1,0,0,4,True,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,False,True,1
24998,8,69,3,41,1,0,0,9,True,False,False,False,True,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,True,True,True,True,True,True,False,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,False,True,1
24999,3,48,1,17,0,0,0,9,True,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,0

# Cleaning Data

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 65 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   time_in_hospital                          25000 non-null  int64
 1   num_lab_procedures                        25000 non-null  int64
 2   num_procedures                            25000 non-null  int64
 3   num_medications                           25000 non-null  int64
 4   number_outpatient                         25000 non-null  int64
 5   number_emergency                          25000 non-null  int64
 6   number_inpatient                          25000 non-null  int64
 7   number_diagnoses                          25000 non-null  int64
 8   race_Caucasian                            25000 non-null  bool
 9   race_AfricanAmerican                      25000 non-null  bool
 10  gender_Female                             25000 non-null  bool
 11  age_[70-80)                               25000 non-null  bool
 12  age_[60-70)                               25000 non-null  bool
 13  age_[50-60)                               25000 non-null  bool
 14  age_[80-90)                               25000 non-null  bool
 15  age_[40-50)                               25000 non-null  bool
 16  payer_code_?                              25000 non-null  bool
 17  payer_code_MC                             25000 non-null  bool
 18  payer_code_HM                             25000 non-null  bool
 19  payer_code_SP                             25000 non-null  bool
 20  payer_code_BC                             25000 non-null  bool
 21  medical_specialty_?                       25000 non-null  bool
 22  medical_specialty_InternalMedicine        25000 non-null  bool
 23  medical_specialty_Emergency/Trauma        25000 non-null  bool
 24  medical_specialty_Family/GeneralPractice  25000 non-null  bool
 25  medical_specialty_Cardiology              25000 non-null  bool
 26  diag_1_428                                25000 non-null  bool
 27  diag_1_414                                25000 non-null  bool
 28  diag_1_786                                25000 non-null  bool
 29  diag_2_276                                25000 non-null  bool
 30  diag_2_428                                25000 non-null  bool
 31  diag_2_250                                25000 non-null  bool
 32  diag_2_427                                25000 non-null  bool
 33  diag_3_250                                25000 non-null  bool
 34  diag_3_401                                25000 non-null  bool
 35  diag_3_276                                25000 non-null  bool
 36  diag_3_428                                25000 non-null  bool
 37  max_glu_serum_None                        25000 non-null  bool
 38  A1Cresult_None                            25000 non-null  bool
 39  metformin_No                              25000 non-null  bool
 40  repaglinide_No                            25000 non-null  bool
 41  nateglinide_No                            25000 non-null  bool
 42  chlorpropamide_No                         25000 non-null  bool
 43  glimepiride_No                            25000 non-null  bool
 44  acetohexamide_No                          25000 non-null  bool
 45  glipizide_No                              25000 non-null  bool
 46  glyburide_No                              25000 non-null  bool
 47  tolbutamide_No                            25000 non-null  bool
 48  pioglitazone_No                           25000 non-null  bool
 49  rosiglitazone_No                          25000 non-null  bool
 50  acarbose_No                               25000 non-null  bool
 51  miglitol_No                               25000 non-null  bool
 52  troglitazone_No                           25000 non-null  bool
 53  tolazamide_No                             25000 non-null  bool
 54  examide_No                                25000 non-null  bool
 55  citoglipton_No                            25000 non-null  bool
 56  insulin_No                                25000 non-null  bool
 57  glyburide-metformin_No                    25000 non-null  bool
 58  glipizide-metformin_No                    25000 non-null  bool
 59  glimepiride-pioglitazone_No               25000 non-null  bool
 60  metformin-rosiglitazone_No                25000 non-null  bool
 61  metformin-pioglitazone_No                 25000 non-null  bool
 62  change_No                                 25000 non-null  bool
 63  diabetesMed_Yes                           25000 non-null  bool
 64  readmitted                                25000 non-null  int64
dtypes: bool(56), int64(9)
memory usage: 3.1 MB

### Create days in hopital column

In [75]:
# renamed the column to make it more clear that these values represent days spent in the hospital
df.rename({'time_in_hospital':'days_in_hospital'}, axis=1, inplace=True)

In [76]:
df.days_in_hospital.describe()

count    25000.000000
mean         4.395640
std          2.991165
min          1.000000
25%          2.000000
50%          4.000000
75%          6.000000
max         14.000000
Name: days_in_hospital, dtype: float64

### Create race column

In [77]:
# converted boolean column into categorical column for descriptive statistics purposes

In [78]:
df['race_Caucasian'].replace(True, 'Caucasian', inplace=True)

In [79]:
df['race_AfricanAmerican'].replace(True, 'African_American', inplace=True)

In [80]:
race_columns = ['race_Caucasian', 'race_AfricanAmerican']

In [81]:
df[race_columns] = df[race_columns].replace(False, '')

In [82]:
df['race'] = df['race_Caucasian'] + df['race_AfricanAmerican']

In [83]:
df['race'] = df['race'].replace('', 'Other')

In [84]:
df.drop(race_columns, axis = 1, inplace = True)

### Create gender column

In [85]:
# converted boolean column into categorical column for descriptive statistics purposes

In [86]:
def recode_gender(gender):
    """boolean vales into gender values"""
    
    if gender == True:
        return 'Female'
        
    elif gender == False:
        return 'Male'
        
    else:
        return 'Unknown'

In [87]:
df['gender'] = df.gender_Female.apply(recode_gender)

In [88]:
df.drop('gender_Female', axis=1, inplace=True)

### Create age column

In [89]:
# converted boolean column into categorical column for descriptive statistics purposes

In [90]:
age_columns = ['age_[70-80)', 'age_[60-70)', 'age_[40-50)', 'age_[80-90)', 'age_[50-60)']

In [91]:
[df[col].replace({True:str(col), False:''}, inplace=True) for col in age_columns]

[None, None, None, None, None]

In [92]:
df['age'] = df[age_columns].apply(lambda row: ''.join(row.values.astype(str)), axis=1)

In [93]:
df.drop(age_columns, axis = 1, inplace = True)

In [94]:
# renamed items in columns for cleaner look

In [95]:
age_renames = ['age70-80', 'age60-70', 'age40-50', 'age80-90', 'age50-60']

In [96]:
df['age'] = df['age'].replace(age_columns, age_renames)

### Create payer code column

In [97]:
# converted boolean column into categorical column for descriptive statistics purposes

In [98]:
paycode_columns = ['payer_code_?', 'payer_code_MC', 'payer_code_HM', 'payer_code_SP', 'payer_code_BC']

In [99]:
[df[col].replace({True:str(col), False:''}, inplace=True) for col in paycode_columns]

[None, None, None, None, None]

In [100]:
df['paycode'] = df[paycode_columns].apply(lambda row: ''.join(row.values.astype(str)), axis=1)

In [101]:
df.drop(paycode_columns, axis = 1, inplace = True)

### Create medical specialty column

In [102]:
# converted boolean column into categorical column for descriptive statistics purposes

In [103]:
specialty_columns = ['medical_specialty_?', 'medical_specialty_InternalMedicine',
                     'medical_specialty_Emergency/Trauma', 'medical_specialty_Family/GeneralPractice',
                     'medical_specialty_Cardiology']

In [104]:
[df[col].replace({True:str(col), False:''}, inplace=True) for col in specialty_columns]

[None, None, None, None, None]

In [105]:
df['specialty'] = df[specialty_columns].apply(lambda row: ''.join(row.values.astype(str)), axis=1)

In [106]:
df.drop(specialty_columns, axis = 1, inplace = True)

In [107]:
specialty_renames = ['Unknown_specialty', 'Internal_Medicine', 'Emergency/Trauma_Medicine', 'Family/General_Medicine',
                  'Cardiology']

In [108]:
df['specialty'].replace(specialty_columns, specialty_renames, inplace = True)

### Create diagnoses columns

In [109]:
# converted boolean column into categorical column for descriptive statistics purposes

In [110]:
diagnoses_columns = ['diag_1_428', 'diag_1_414', 'diag_1_786', 'diag_2_276', 'diag_2_428', 'diag_2_250', 'diag_2_427',
                     'diag_3_250', 'diag_3_401', 'diag_3_276', 'diag_3_428']

In [111]:
# looked up the ICD-9 coding for these diagnoses

In [112]:
diagnoses_renames = ['Dx1_Heart_Failure', 'Dx1_Other_Heart_Disease', 'Dx1_Respiratory_sxs', 'Dx2_pH/Fluid_Imbalance',
                     'Dx2_Heart_Failure', 'Dx2_Diabetes_Mellitus', 'Dx2_Cardiac Dysrhythmias', 'Dx3_Diabetes_Mellitus', 
                     'Dx3_Essential_Hypertension', 'Dx3_pH/Fluid_Imbalance', 'Dx3_Heart_Failure']

In [113]:
df.rename(columns = {'diag_1_428':'Dx1_Heart_Failure', 'diag_1_414':'Dx1_Other_Heart_Disease', 'diag_1_786':'Dx1_Respiratory_sxs', 
                     'diag_2_276':'Dx2_pH/Fluid_Imbalance', 'diag_2_428':'Dx2_Heart_Failure', 'diag_2_250':'Dx2_Diabetes_Mellitus',
                     'diag_2_427':'Dx2_Cardiac Dysrhythmias','diag_3_250':'Dx3_Diabetes_Mellitus', 
                     'diag_3_401':'Dx3_Essential_Hypertension', 'diag_3_276':'Dx3_pH/Fluid_Imbalance', 'diag_3_428':'Dx3_Heart_Failure'}, inplace=True)

### Labs and Meds

In [114]:
df.columns

Index(['days_in_hospital', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_outpatient', 'number_emergency',
       'number_inpatient', 'number_diagnoses', 'Dx1_Heart_Failure',
       'Dx1_Other_Heart_Disease', 'Dx1_Respiratory_sxs',
       'Dx2_pH/Fluid_Imbalance', 'Dx2_Heart_Failure', 'Dx2_Diabetes_Mellitus',
       'Dx2_Cardiac Dysrhythmias', 'Dx3_Diabetes_Mellitus',
       'Dx3_Essential_Hypertension', 'Dx3_pH/Fluid_Imbalance',
       'Dx3_Heart_Failure', 'max_glu_serum_None', 'A1Cresult_None',
       'metformin_No', 'repaglinide_No', 'nateglinide_No', 'chlorpropamide_No',
       'glimepiride_No', 'acetohexamide_No', 'glipizide_No', 'glyburide_No',
       'tolbutamide_No', 'pioglitazone_No', 'rosiglitazone_No', 'acarbose_No',
       'miglitol_No', 'troglitazone_No', 'tolazamide_No', 'examide_No',
       'citoglipton_No', 'insulin_No', 'glyburide-metformin_No',
       'glipizide-metformin_No', 'glimepiride-pioglitazone_No',
       'metformin-rosiglitazone_No', 'metformin-pioglitazone_No', 'change_No',
       'diabetesMed_Yes', 'readmitted', 'race', 'gender', 'age', 'paycode',
       'specialty'],
      dtype='object')

In [115]:
# inverted "no" columns to better represent whether the lab test was done

In [116]:
lab_columns = ['max_glu_serum_None', 'A1Cresult_None',
       'metformin_No', 'repaglinide_No', 'nateglinide_No', 'chlorpropamide_No',
       'glimepiride_No', 'acetohexamide_No', 'glipizide_No', 'glyburide_No',
       'tolbutamide_No', 'pioglitazone_No', 'rosiglitazone_No', 'acarbose_No',
       'miglitol_No', 'troglitazone_No', 'tolazamide_No', 'examide_No',
       'citoglipton_No', 'insulin_No', 'glyburide-metformin_No',
       'glipizide-metformin_No', 'glimepiride-pioglitazone_No',
       'metformin-rosiglitazone_No', 'metformin-pioglitazone_No', 'change_No']

In [117]:
# labeled mapped out columns as "complete"

In [118]:
for column in lab_columns:
    df[column + ' complete'] = ~df[column]

In [119]:
df.drop(lab_columns, axis=1, inplace=True)

In [120]:
df.columns

Index(['days_in_hospital', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_outpatient', 'number_emergency',
       'number_inpatient', 'number_diagnoses', 'Dx1_Heart_Failure',
       'Dx1_Other_Heart_Disease', 'Dx1_Respiratory_sxs',
       'Dx2_pH/Fluid_Imbalance', 'Dx2_Heart_Failure', 'Dx2_Diabetes_Mellitus',
       'Dx2_Cardiac Dysrhythmias', 'Dx3_Diabetes_Mellitus',
       'Dx3_Essential_Hypertension', 'Dx3_pH/Fluid_Imbalance',
       'Dx3_Heart_Failure', 'diabetesMed_Yes', 'readmitted', 'race', 'gender',
       'age', 'paycode', 'specialty', 'max_glu_serum_None complete',
       'A1Cresult_None complete', 'metformin_No complete',
       'repaglinide_No complete', 'nateglinide_No complete',
       'chlorpropamide_No complete', 'glimepiride_No complete',
       'acetohexamide_No complete', 'glipizide_No complete',
       'glyburide_No complete', 'tolbutamide_No complete',
       'pioglitazone_No complete', 'rosiglitazone_No complete',
       'acarbose_No complete', 'miglitol_No complete',
       'troglitazone_No complete', 'tolazamide_No complete',
       'examide_No complete', 'citoglipton_No complete', 'insulin_No complete',
       'glyburide-metformin_No complete', 'glipizide-metformin_No complete',
       'glimepiride-pioglitazone_No complete',
       'metformin-rosiglitazone_No complete',
       'metformin-pioglitazone_No complete', 'change_No complete'],
      dtype='object')

In [121]:
# replaced string format for cleaner look

In [122]:
updated_columns = df.columns.str.replace('_No complete','')

In [123]:
final_columns = updated_columns.str.replace('_None complete','')

In [124]:
df.columns = final_columns

In [125]:
# converted all boolean columns into integers

In [126]:
df = df.applymap(lambda x: 1 if x == True else x)

In [127]:
df = df.applymap(lambda x: 0 if x == False else x)

In [128]:
df

,days_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,Dx1_Heart_Failure,Dx1_Other_Heart_Disease,Dx1_Respiratory_sxs,Dx2_pH/Fluid_Imbalance,Dx2_Heart_Failure,Dx2_Diabetes_Mellitus,Dx2_Cardiac Dysrhythmias,Dx3_Diabetes_Mellitus,Dx3_Essential_Hypertension,Dx3_pH/Fluid_Imbalance,Dx3_Heart_Failure,diabetesMed_Yes,readmitted,race,gender,age,paycode,specialty,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change
0,14,41,0,11,0,0,0,6,0,0,0,0,0,0,0,0,1,0,0,1,0,Caucasian,Male,age50-60,payer_code_SP,Unknown_specialty,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,30,0,12,0,0,1,9,0,0,0,0,0,0,0,0,0,0,0,1,1,Caucasian,Female,age50-60,payer_code_SP,Unknown_specialty,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1
2,5,66,0,22,1,0,2,9,0,0,0,0,0,0,0,0,0,0,0,1,1,Caucasian,Female,age80-90,payer_code_MC,Unknown_specialty,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,3,63,0,8,0,0,0,8,0,1,0,0,0,0,0,0,0,0,0,1,1,Caucasian,Female,age50-60,payer_code_?,Unknown_specialty,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,40,0,6,0,0,1,9,0,0,0,0,0,0,0,0,1,0,0,0,0,Caucasian,Female,age80-90,payer_code_?,Family/General_Medicine,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,2,85,0,12,0,0,0,9,0,0,0,0,0,0,0,0,0,1,0,1,0,Caucasian,Male,age60-70,payer_code_SP,Unknown_specialty,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
24996,5,35,2,15,0,0,0,9,0,0,0,0,0,0,0,0,0,0,1,1,1,African_American,Female,age60-70,payer_code_?,Cardiology,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24997,3,10,1,23,1,0,0,4,0,0,0,0,0,1,0,0,0,0,0,1,1,Caucasian,Male,age70-80,payer_code_MC,Unknown_specialty,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
24998,8,69,3,41,1,0,0,9,0,0,0,0,0,0,0,0,0,0,0,1,1,Caucasian,Male,age60-70,payer_code_HM,Unknown_specialty,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
24999,3,48,1,17,0,0,0,9,0,0,0,0,0,0,0,0,0,0,0,0,0,Caucasian,Male,age60-70,payer_code_?,,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### Medications

In [129]:
df.columns

Index(['days_in_hospital', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_outpatient', 'number_emergency',
       'number_inpatient', 'number_diagnoses', 'Dx1_Heart_Failure',
       'Dx1_Other_Heart_Disease', 'Dx1_Respiratory_sxs',
       'Dx2_pH/Fluid_Imbalance', 'Dx2_Heart_Failure', 'Dx2_Diabetes_Mellitus',
       'Dx2_Cardiac Dysrhythmias', 'Dx3_Diabetes_Mellitus',
       'Dx3_Essential_Hypertension', 'Dx3_pH/Fluid_Imbalance',
       'Dx3_Heart_Failure', 'diabetesMed_Yes', 'readmitted', 'race', 'gender',
       'age', 'paycode', 'specialty', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change'],
      dtype='object')

In [130]:
medications = ['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone']

In [131]:
for item in medications:
     df['med_' + item] = df[item]

In [132]:
df.drop(medications, axis=1, inplace=True)

In [133]:
[df[col].value_counts() for col in df]

[3     4379
 2     4290
 4     3506
 1     3412
 5     2436
 6     1862
 7     1394
 8     1033
 9      717
 10     580
 11     435
 12     379
 13     300
 14     277
 Name: days_in_hospital, dtype: int64,
 1      817
 43     719
 44     614
 45     581
 38     541
       ...
 99       2
 103      2
 113      1
 126      1
 102      1
 Name: num_lab_procedures, Length: 108, dtype: int64,
 0    11445
 1     5083
 2     3160
 3     2310
 6     1225
 4     1041
 5      736
 Name: num_procedures, dtype: int64,
 12    1467
 15    1424
 11    1420
 13    1413
 14    1411
       ...
 81       1
 66       1
 61       1
 68       1
 72       1
 Name: num_medications, Length: 71, dtype: int64,
 0     20831
 1      2172
 2       899
 3       479
 4       258
 5       143
 6        78
 7        34
 8        22
 9        19
 11       15
 10       13
 13        7
 14        7
 16        3
 17        3
 21        3
 12        3
 18        2
 24        2
 20        1
 19        1
 36        1
 34        1
 22        1
 29        1
 15        1
 Name: number_outpatient, dtype: int64,
 0     22143
 1      1904
 2       558
 3       168
 4        87
 5        41
 6        28
 7        23
 9        10
 8        10
 10        5
 11        5
 12        3
 13        3
 20        2
 16        2
 14        1
 42        1
 22        1
 19        1
 18        1
 29        1
 64        1
 46        1
 Name: number_emergency, dtype: int64,
 0     16542
 1      4792
 2      1889
 3       871
 4       412
 5       198
 6       111
 7        75
 8        38
 9        31
 10       17
 11        9
 12        5
 13        5
 15        2
 19        1
 16        1
 21        1
 Name: number_inpatient, dtype: int64,
 9     12172
 5      2767
 7      2578
 8      2567
 6      2489
 4      1373
 3       708
 2       257
 1        59
 16       11
 13        5
 15        3
 14        3
 12        3
 10        3
 11        2
 Name: number_diagnoses, dtype: int64,
 0    23377
 1     1623
 Name: Dx1_Heart_Failure, dtype: int64,
 0    23438
 1     1562
 Name: Dx1_Other_Heart_Disease, dtype: int64,
 0    23989
 1     1011
 Name: Dx1_Respiratory_sxs, dtype: int64,
 0    23285
 1     1715
 Name: Dx2_pH/Fluid_Imbalance, dtype: int64,
 0    23319
 1     1681
 Name: Dx2_Heart_Failure, dtype: int64,
 0    23483
 1     1517
 Name: Dx2_Diabetes_Mellitus, dtype: int64,
 0    23766
 1     1234
 Name: Dx2_Cardiac Dysrhythmias, dtype: int64,
 0    22152
 1     2848
 Name: Dx3_Diabetes_Mellitus, dtype: int64,
 0    22949
 1     2051
 Name: Dx3_Essential_Hypertension, dtype: int64,
 0    23760
 1     1240
 Name: Dx3_pH/Fluid_Imbalance, dtype: int64,
 0    23885
 1     1115
 Name: Dx3_Heart_Failure, dtype: int64,
 1    19185
 0     5815
 Name: diabetesMed_Yes, dtype: int64,
 0    13590
 1    11410
 Name: readmitted, dtype: int64,
 Caucasian           18553
 African_American     4817
 Other                1630
 Name: race, dtype: int64,
 Female    13437
 Male      11563
 Name: gender, dtype: int64,
 age70-80    6283
 age60-70    5461
 age50-60    4320
 age80-90    4257
 age40-50    2428
             2251
 Name: age, dtype: int64,
 payer_code_?     10005
 payer_code_MC     7829
                   3295
 payer_code_HM     1526
 payer_code_SP     1202
 payer_code_BC     1143
 Name: paycode, dtype: int64,
 Unknown_specialty            12295
                               4138
 Internal_Medicine             3526
 Emergency/Trauma_Medicine     1893
 Family/General_Medicine       1884
 Cardiology                    1264
 Name: specialty, dtype: int64,
 0    23627
 1     1373
 Name: max_glu_serum, dtype: int64,
 0    20737
 1     4263
 Name: A1Cresult, dtype: int64,
 0    13565
 1    11435
 Name: change, dtype: int64,
 0    20141
 1     4859
 Name: med_metformin, dtype: int64,
 0    24581
 1      419
 Name: med_repaglinide, dtype: int64,
 0    24815
 1      185
 Name: med_nateglinide, dtype: int64,
 0    24982
 1       18
 Name: med_chlorpropamide, dtype: int64,
 0    23701
 1     1299
 Name: med_glimepiride, dtype: int64,
 0    25000
 Name: med_acetohexamide, dtype: int64,
 0    21940
 1     3060
 Name: med_glipizide, dtype: int64,
 0    22408
 1     2592
 Name: med_glyburide, dtype: int64,
 0    24994
 1        6
 Name: med_tolbutamide, dtype: int64,
 0    23204
 1     1796
 Name: med_pioglitazone, dtype: int64,
 0    23412
 1     1588
 Name: med_rosiglitazone, dtype: int64,
 0    24930
 1       70
 Name: med_acarbose, dtype: int64,
 0    24990
 1       10
 Name: med_miglitol, dtype: int64,
 0    24999
 1        1
 Name: med_troglitazone, dtype: int64,
 0    24989
 1       11
 Name: med_tolazamide, dtype: int64,
 0    25000
 Name: med_examide, dtype: int64,
 0    25000
 Name: med_citoglipton, dtype: int64,
 1    13283
 0    11717
 Name: med_insulin, dtype: int64,
 0    24841
 1      159
 Name: med_glyburide-metformin, dtype: int64,
 0    24996
 1        4
 Name: med_glipizide-metformin, dtype: int64,
 0    24999
 1        1
 Name: med_glimepiride-pioglitazone, dtype: int64,
 0    25000
 Name: med_metformin-rosiglitazone, dtype: int64,
 0    25000
 Name: med_metformin-pioglitazone, dtype: int64]

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 52 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   days_in_hospital              25000 non-null  int64
 1   num_lab_procedures            25000 non-null  int64
 2   num_procedures                25000 non-null  int64
 3   num_medications               25000 non-null  int64
 4   number_outpatient             25000 non-null  int64
 5   number_emergency              25000 non-null  int64
 6   number_inpatient              25000 non-null  int64
 7   number_diagnoses              25000 non-null  int64
 8   Dx1_Heart_Failure             25000 non-null  int64
 9   Dx1_Other_Heart_Disease       25000 non-null  int64
 10  Dx1_Respiratory_sxs           25000 non-null  int64
 11  Dx2_pH/Fluid_Imbalance        25000 non-null  int64
 12  Dx2_Heart_Failure             25000 non-null  int64
 13  Dx2_Diabetes_Mellitus         25000 non-null  int64
 14  Dx2_Cardiac Dysrhythmias      25000 non-null  int64
 15  Dx3_Diabetes_Mellitus         25000 non-null  int64
 16  Dx3_Essential_Hypertension    25000 non-null  int64
 17  Dx3_pH/Fluid_Imbalance        25000 non-null  int64
 18  Dx3_Heart_Failure             25000 non-null  int64
 19  diabetesMed_Yes               25000 non-null  int64
 20  readmitted                    25000 non-null  int64
 21  race                          25000 non-null  object
 22  gender                        25000 non-null  object
 23  age                           25000 non-null  object
 24  paycode                       25000 non-null  object
 25  specialty                     25000 non-null  object
 26  max_glu_serum                 25000 non-null  int64
 27  A1Cresult                     25000 non-null  int64
 28  change                        25000 non-null  int64
 29  med_metformin                 25000 non-null  int64
 30  med_repaglinide               25000 non-null  int64
 31  med_nateglinide               25000 non-null  int64
 32  med_chlorpropamide            25000 non-null  int64
 33  med_glimepiride               25000 non-null  int64
 34  med_acetohexamide             25000 non-null  int64
 35  med_glipizide                 25000 non-null  int64
 36  med_glyburide                 25000 non-null  int64
 37  med_tolbutamide               25000 non-null  int64
 38  med_pioglitazone              25000 non-null  int64
 39  med_rosiglitazone             25000 non-null  int64
 40  med_acarbose                  25000 non-null  int64
 41  med_miglitol                  25000 non-null  int64
 42  med_troglitazone              25000 non-null  int64
 43  med_tolazamide                25000 non-null  int64
 44  med_examide                   25000 non-null  int64
 45  med_citoglipton               25000 non-null  int64
 46  med_insulin                   25000 non-null  int64
 47  med_glyburide-metformin       25000 non-null  int64
 48  med_glipizide-metformin       25000 non-null  int64
 49  med_glimepiride-pioglitazone  25000 non-null  int64
 50  med_metformin-rosiglitazone   25000 non-null  int64
 51  med_metformin-pioglitazone    25000 non-null  int64
dtypes: int64(47), object(5)
memory usage: 9.9+ MB

In [135]:
# identified any duplicate rows

In [136]:
df.duplicated().value_counts()

False    25000
dtype: int64